<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>hello</h1>
        <input type="number" name="r1" id="r1" placeholder="Enter number of rows">
        <input type="number" name="c1" id="c1" placeholder="Enter number of columns">
        <input type="number" name="rn1" id="n1" placeholder="Enter number">
        <button type="submit" (click)="create()">Create</button>
        <div id="tblop"></div>
    </div>
</body>
</html>
<style>
    td{
        padding: 10px;
    }
</style>
<script>
   

   
</script>